In [1]:
import pandas as pd
import json

In [2]:
covid = "data.csv"
covid_df = pd.read_csv(covid)
covid_df.head()

,city,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,curators,aggregate,rating,tz,featureId,sources
0,NaN,NaN,NaN,AFG,110.0,4.0,NaN,NaN,NaN,34124811.0,33.930139,67.689542,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Asia/Kabul""]",0.0,NaN
1,NaN,NaN,NaN,ALB,186.0,8.0,NaN,NaN,NaN,3047987.0,41.112453,20.154356,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Europe/Tirane""]",1.0,NaN
2,NaN,NaN,NaN,DZA,409.0,26.0,NaN,NaN,NaN,40969443.0,28.032339,1.643238,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Africa/Algiers""]",2.0,NaN
3,NaN,NaN,NaN,AND,267.0,3.0,NaN,NaN,NaN,85702.0,42.515016,1.568152,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Europe/Andorra""]",3.0,NaN
4,NaN,NaN,NaN,AGO,4.0,0.0,NaN,NaN,NaN,29310273.0,-11.211304,17.898856,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Africa/Luanda""]",4.0,NaN

In [3]:
del covid_df['city']
covid_df

,county,state,country,cases,deaths,recovered,tested,active,population,lat,long,url,maintainers,curators,aggregate,rating,tz,featureId,sources
0,NaN,NaN,AFG,110.0,4.0,NaN,NaN,NaN,34124811.0,33.930139,67.689542,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Asia/Kabul""]",0.0,NaN
1,NaN,NaN,ALB,186.0,8.0,NaN,NaN,NaN,3047987.0,41.112453,20.154356,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Europe/Tirane""]",1.0,NaN
2,NaN,NaN,DZA,409.0,26.0,NaN,NaN,NaN,40969443.0,28.032339,1.643238,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Africa/Algiers""]",2.0,NaN
3,NaN,NaN,AND,267.0,3.0,NaN,NaN,NaN,85702.0,42.515016,1.568152,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Europe/Andorra""]",3.0,NaN
4,NaN,NaN,AGO,4.0,0.0,NaN,NaN,NaN,29310273.0,-11.211304,17.898856,https://github.com/CSSEGISandData/COVID-19,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....","[{""name"":""JHU CSSE"",""url"":""https://systems.jhu...",country,0.470588,"[""Africa/Luanda""]",4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,Teton County,WY,USA,12.0,NaN,NaN,NaN,NaN,23081.0,43.950812,-110.553385,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",NaN,county,0.254902,"[""America/Denver""]",3643.0,NaN
3746,Uinta County,WY,USA,0.0,NaN,NaN,NaN,NaN,20299.0,41.287295,-110.547361,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",NaN,county,0.254902,"[""America/Denver""]",3644.0,NaN
3747,Washakie County,WY,USA,1.0,NaN,NaN,NaN,NaN,7885.0,43.834371,-107.830746,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",NaN,county,0.254902,"[""America/Denver""]",3645.0,NaN
3748,Weston County,WY,USA,0.0,NaN,NaN,NaN,NaN,6967.0,43.840034,-104.567947,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",NaN,county,0.254902,"[""America/Denver""]",3646.0,NaN
3749,NaN,WY,USA,73.0,NaN,NaN,NaN,NaN,578759.0,42.999967,-107.551996,https://health.wyo.gov/publichealth/infectious...,"[{""name"":""Larry Davis"",""email"":""lazdnet@gmail....",NaN,county,0.176471,"[""America/Denver""]",3647.0,NaN

In [4]:
covid_df.count()

county         3239
state          3572
country        3750
cases          3706
deaths         1834
recovered       547
tested          350
active          523
population     3541
lat            3680
long           3680
url            3750
maintainers    1109
curators        528
aggregate      3677
rating         3750
tz             3675
featureId      3675
sources         497
dtype: int64

In [5]:
columns = ["county", "state", "country", "cases", "deaths", "lat", "long"]
covid_usa = covid_df.loc[covid_df["country"] == "USA", columns]
covid_usa

,county,state,country,cases,deaths,lat,long
407,Anchorage,AK,USA,33.0,0.0,NaN,NaN
408,Fairbanks North Star Borough,AK,USA,15.0,0.0,NaN,NaN
409,Juneau City and Borough,AK,USA,3.0,0.0,NaN,NaN
410,Kenai Peninsula Borough,AK,USA,5.0,0.0,NaN,NaN
411,Ketchikan Gateway Borough,AK,USA,11.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
3745,Teton County,WY,USA,12.0,NaN,43.950812,-110.553385
3746,Uinta County,WY,USA,0.0,NaN,41.287295,-110.547361
3747,Washakie County,WY,USA,1.0,NaN,43.834371,-107.830746
3748,Weston County,WY,USA,0.0,NaN,43.840034,-104.567947
3749,NaN,WY,USA,73.0,NaN,42.999967,-107.551996

In [6]:
# usa_index = covid_usa.reset_index(drop=True)
cleanup = covid_usa.dropna(subset=['state'])

In [7]:
cleanup = cleanup.dropna(subset=['lat'])

In [8]:
cleanup = cleanup.dropna(subset=['long'])

In [9]:
cleanup = cleanup[cleanup['cases'] != 0]

In [10]:
cleanup.count()

county     1584
state      1660
country    1660
cases      1658
deaths      997
lat        1660
long       1660
dtype: int64

In [11]:
covid_us =cleanup

In [12]:
covid_us.dtypes

county      object
state       object
country     object
cases      float64
deaths     float64
lat        float64
long       float64
dtype: object

In [13]:
covid_us = covid_us.reset_index(drop=True)

In [14]:
covid_us.head(20)

              county state country  cases  deaths        lat        long
0     Orleans County    LA     USA  997.0    46.0  30.033868  -89.881477
1                NaN    MD     USA   72.0     0.0  38.846874  -77.285913
2       Dukes County    MA     USA    1.0     0.0  41.413311  -70.698639
3   Nantucket County    MA     USA    2.0     0.0  41.314833  -70.117854
4                NaN    MO     USA   64.0     0.0  38.302494  -92.445673
5                NaN    MO     USA   69.0     1.0  38.302494  -92.445673
6                NaN    NV     USA    4.0     0.0  38.501823 -117.020477
7     Douglas County    NV     USA    3.0     0.0  38.824391 -119.657052
8        Elko County    NV     USA    2.0     0.0  41.059569 -115.529335
9        Lyon County    NV     USA    1.0     0.0  39.077531 -119.233240
10        Nye County    NV     USA    1.0     0.0  37.563818 -116.598560
11   Burleigh County    ND     USA   23.0     0.0  46.980558 -100.520193
12       Cass County    ND     USA    8.0     0.0  46.934663  -97.232637
13       Dunn County    ND     USA    1.0     0.0  47.402147 -102.622160
14     Foster County    ND     USA    1.0     0.0  47.457078  -98.882763
15    McHenry County    ND     USA    1.0     0.0  48.239952 -100.628737
16   McIntosh County    ND     USA    1.0     0.0  46.111548  -99.441590
17     Morton County    ND     USA    8.0     0.0  46.633530 -101.320615
18     Pierce County    ND     USA    2.0     0.0  48.196234  -99.884789
19     Ramsey County    ND     USA    3.0     0.0  48.229644  -98.746209

In [15]:
covid_us.to_json(r'covid_usa.json', orient = 'records')